*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: tipografia;
    src: url(Formula1-Wide.ttf);
}


header{
    background-color: rgba(25, 24, 24, 0.858);
    text-align: center;
    image-orientation: from-image;
    color: beige;
    font-family: tipografia;
}

body{
    background-color: rgba(163, 163, 163, 0.858);
}

#logo1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.clase{
    background-color: rgba(71, 70, 70, 0.646);
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.barra1 {
    display: inline-block;
    width: 70vw;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(238, 136, 136);
    vertical-align: middle;
    margin-right: 0 ;
}
.barra2 {
    display: inline-block;
    width: 70vw;
    height: 5px;
    margin:100;
    border-radius: 10px;
    background-color: rgb(238, 136, 136);
    vertical-align: middle;
    
}
.barra3 {
    display: inline-block;
    width: 70vw;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(238, 136, 136);
    vertical-align: middle;
    margin: 100;
}

#img1{
    width: 200px;
    height: 200px;
}

#boton{
    background-color: rgba(11, 220, 21, 0.646);
    padding: 15px;
    margin: 15px;
    width: 96%;
    justify-content: center;
    border-radius: 10px;
    border: 0;
    
}

input{
    border-radius: 10px;
    width: 99%;
    padding: 10px;
    margin: 10px;
    border: 0px;
}